.messages.form-control:disabled {
    cursor: auto;
}

.messages {
    margin-bottom: 10px;
    height: 75vh;
    overflow-y: scroll;
}

.message-timestamp {
    font-size: 14px;
}

.message-author {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}